html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px 25px 25px 25px;
    box-sizing: border-box;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body * {
    box-sizing: border-box;
}

input::placeholder {
    color: rgb(163, 163, 163);
}

input:focus {
    outline: none;
}


#encriptar,
#desencriptar {
    background: #3a3a3a;
    padding: 15px 20px 20px 20px;
    margin-bottom: 20px;
    max-width: 650px;
    width: 100%;
    position: relative;
}

#encriptar .titulo,
#desencriptar .titulo {
    color: #e6e6e6;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
}

#encriptar .pista,
#desencriptar .pista {
    color: #ebd1d1;
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 14px;
}

#encriptar .wrapper-inputs,
#desencriptar .wrapper-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encriptar input,
#desencriptar input {
    padding: 10px 10px 10px 12px;
    border-radius: 3px;
    border: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

#encriptar #palabraEncriptarRepite,
#desencriptar #palabraDesencriptarRepite {
    margin-bottom: 25px;
}

#encriptar button,
#desencriptar button {
    border: 0;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

#encriptar button {
    background: #5b5b99;
}

#desencriptar button {
    background: #5b998a;
}

#encriptar .wrapper-resultado,
#desencriptar .wrapper-resultado {
    background: #454545;
    margin-top: 30px;
    padding: 10px 13px 25px 13px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#encriptar .copiar,
#desencriptar .copiar {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    background: #545454;
    cursor: pointer;
}
#encriptar .copiar.activo,
#desencriptar .copiar.activo {
    background: #397843;
}

#encriptar .wrapper-resultado span:nth-child(1),
#desencriptar .wrapper-resultado span:nth-child(1) {
    color: #e6e6e6;
    font-size: 14px;
    margin-bottom: 10px;
}

#encriptar .wrapper-resultado span:nth-child(2),
#desencriptar .wrapper-resultado span:nth-child(2) {
    color: #c8ffc5;
    font-weight: bold;
    flex: 1;
    text-align: left;
    font-size: 20px;
    letter-spacing: 1.1px;
    word-break: break-word;
    align-self: center;
}